body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita el scroll mientras se muestra el video */
}

.video-container {
    position: fixed; /* Aunque haya conrtenido no se va a ver*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black; /* Fondo negro para un efecto de transición más suave */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* Asegura que el video esté en la parte superior */
}

#intro-video {
    max-width: 100%;
    max-height: 100%;
}


.main-content {
    display: none; /* Oculta el contenido principal al principio */
}

button#skipVideo {
    opacity: 0;
    cursor: pointer;
    background-color: rgb(0, 98, 255);
    color: white;
    font-family: Helvetica, Calibri, sans-serif;
    font-size: 20px;
    width: auto;
    height: auto;
    padding: 7px 15px;
    border-radius: 20px;
    box-shadow: 2px 2px white;
    position: fixed;
    right: 40px;
    bottom: 80px;
    transition: all 1s;
}

#skipVideo.visible {
    opacity: 1;
    transition: all 3s;
}


#skipVideo:hover {
    background-color: white;
    color: rgb(0, 98, 255);
    box-shadow: 2px 2px rgb(0, 98, 255);
    transition: all 500ms;
}